        </div> <!-- container - end -->

        <div class="footer">
            <p>This is a footer!<br><span class="small quiet">File: <x:root/>html/footer.html</span></p>
        </div>
        <x:script/>
    </body>
</html>